<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.3D" version="24.2.0" targetFramework="net471" />
  <package id="Aspose.BarCode" version="24.2.0" targetFramework="net471" />
  <package id="Aspose.CAD" version="24.2.0" targetFramework="net471" />
  <package id="Aspose.Cells" version="24.2.0" targetFramework="net471" />
  <package id="Aspose.Diagram" version="24.2.0" targetFramework="net471" />
  <package id="Aspose.Drawing.Common" version="24.2.0" targetFramework="net471" />
  <package id="Aspose.Email" version="24.1.0" targetFramework="net471" />
  <package id="Aspose.Finance" version="24.2.0" targetFramework="net471" />
  <package id="Aspose.Font" version="23.12.0" targetFramework="net471" />
  <package id="Aspose.GIS" version="23.12.0" targetFramework="net471" />
  <package id="Aspose.HTML" version="24.2.0" targetFramework="net471" />
  <package id="Aspose.Imaging" version="24.2.0" targetFramework="net471" />
  <package id="Aspose.Note" version="24.2.0" targetFramework="net471" />
  <package id="Aspose.OCR" version="24.2.0" targetFramework="net471" />
  <package id="Aspose.OMR" version="24.2.1" targetFramework="net471" />
  <package id="Aspose.Page" version="24.2.0" targetFramework="net471" />
  <package id="Aspose.PDF" version="24.2.0" targetFramework="net471" />
  <package id="Aspose.PSD" version="24.1.0" targetFramework="net471" />
  <package id="Aspose.PUB" version="23.12.0" targetFramework="net471" />
  <package id="Aspose.Slides.NET" version="24.2.0" targetFramework="net471" />
  <package id="Aspose.SVG" version="24.2.0" targetFramework="net471" />
  <package id="Aspose.Tasks" version="24.2.0" targetFramework="net471" />
  <package id="Aspose.TeX" version="24.2.0" targetFramework="net471" />
  <package id="Aspose.Total" version="24.2.0" targetFramework="net471" />
  <package id="Aspose.Words" version="24.2.0" targetFramework="net471" />
  <package id="Aspose.Zip" version="24.2.0" targetFramework="net471" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.0" targetFramework="net471" />
  <package id="Microsoft.ML.OnnxRuntime" version="1.16.0" targetFramework="net471" />
  <package id="Microsoft.ML.OnnxRuntime.Managed" version="1.16.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net471" />
  <package id="RestSharp" version="110.2.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.0" targetFramework="net471" />
  <package id="System.Drawing.Common" version="4.7.3" targetFramework="net471" />
  <package id="System.Memory" version="4.5.5" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net471" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Pkcs" version="8.0.0" targetFramework="net471" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net471" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" targetFramework="net471" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net471" />
  <package id="System.Text.Json" version="8.0.3" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="UniTask" version="2.5.3" targetFramework="net471" />
</packages>